.error {
    display: block;
}

.card-border {
    border: 2px solid cadetblue;
}

.large-logo {
    width: 98px;
    height: 20px;
}
.small-logo {
    width: 22px;
    height: 22px;
}
.span {
    font-weight: bolder;
    background: #7875FC;
    width: 15px;
    display: inline-block;
    color: #7875FC;
    border-radius: 4px;
    margin-right: 10px;
    line-height: 25px;
}

.dropify-font-upload::before,
.dropify-wrapper .dropify-message span.file-icon::before {
    content: '';
}

.mln-10 {
    margin-left: -10px;
}
.mrn-45 {
    margin-right: -45px;
}